.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Custom
*.log
*.swp
.envrc
.idea/
.tmp/
app/src/js/config/local.js
artifacts/
cypress/screenshots/
cypress/videos/
dist/
docker/html/
gulp-cache/
node_modules/
test/fake-api/db/*.json
tmp/
yarn.lock
.history/
v8-compile-cache-0
rebuild_and_restart.sh
*tmp
.snyk
package-lock.json