.display-4 {
  font-size: 2rem!important;
}
.eui-fa-chevron-circle-up,
.eui-fa-chevron-circle-down {
  color: #2276ac;
}
.container-grid:not(.left-collapsed) {
  display: inline-grid;
  grid-template-columns: 250px auto;
  justify-content: space-between; /* justify items */
  width: 100%;
}
.container-grid .left-content {
  background: #2275AA;
  min-height:100%;
  color:white;
  width: 250px;
  top: 20;
}
.container-grid .left-content.collapsed {
  display: block;
  width: 0px;
  height: 0px;
}
.fa-info-circle, a:visited, a:link {
  color:#2276ac;
}
.fa-info-circle {
  padding-left:5px;
  cursor:pointer;
}
a:link.ext:after, a:visited.ext:after {
  display: inline-block!important;
  padding-left: 0.3em!important;
  font-family: "EUI-Icon-Library";
  content: "\f111"!important;
}
/* button styles taken from juanisa's adobe document as directed */
.btn-dark-blue{
  background: #195983 0% 0% no-repeat padding-box!important;
  box-shadow: 0px 3px 6px #00000029!important;
  border: 1px solid #70707040!important;
  border-radius: 8px;
  opacity: 1;
}
.btn-green {
  background: #158749 0% 0% no-repeat padding-box!important;
  box-shadow: 0px 3px 6px #00000029!important;
  border: 1px solid #70707040!important;
  border-radius: 8px;
  opacity: 1;
}
.btn-green img {
  margin-left:10px;
}
.btn-green:hover {
  background: #158749!important;
  filter: contrast(2.75)!important;
}
.btn-dark-blue:hover {
  background: #195983!important;
  filter: contrast(1.35)!important;
}
.btn-transparant:hover {
  background: #195983!important;
  filter: contrast(1.35)!important;
}
.badge-green {
  margin-left:10px;
}
.badge-white {
  background-color: #f8f9fa!important;
  color:#2276ac!important;
  margin-left:10px;
}
.btn-transparant {
  background: #2877AA 0% 0% no-repeat padding-box!important;
  border: 2px solid #FFFFFF!important;
  border-radius: 8px;
  opacity: 1;
}
.header.row.pt-5{
  margin-right: calc(2rem * 2);
  margin-left: calc(5rem * 2);
}
@media (min-width: 250px) {
  .navbar {
    width: 100%;}
  .container-lg,
  .row {
    --bs-gutter-x: unset } 
  #earthdata-tophat2 {
    overflow: hidden } 
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: unset !important;
  }
}
@media (max-width: 1200px) {
  .header.row.pt-5{
    margin-right: 1rem;
    margin-left: 1rem;}}

.display-4.main-width hr{
  margin: 1rem -48px 0;
}
.card-grid {
  display: inline-grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  text-align: center;
  justify-content: space-between; 
  margin-top:.75rem!important;
  margin-bottom:.5rem!important;
}
.card-grid .card.has-icon {
  min-height:8em;
  margin-bottom:2rem;
  margin-top:2rem;
}
.card .icon_div {
  background: #2877AA 0% 0% no-repeat padding-box;
  width: 3.75rem;
  height: 3.75rem;
  border-radius:50%;
  padding:.5rem;
  position:absolute;
  top:-2rem;
  left:7.15rem;
}
.card .icon {
  opacity: 1; 
  width: 100%;
  height: 100%;
}
html {
  clear: both;
  margin: 0 auto 3rem auto;
  width: 1450px;
  height: auto;
  background-color: #FCFCFC;
  box-shadow: 0px 0px 25px #555;
}
.fa-external-link-alt:before {
  content: "\f35d"!important;
}
.fa-external-link-alt{
  margin-right:10px!important;
}
.nav-item{
  text-decoration: none;
}
.nav-item.active{
  text-decoration: underline;
}
.version{
  background-color: #195983;
}
.btn-to-top {
  width: 80px;
  height: 80px;
  border-radius: 50%; 
  scroll-behavior: unset;
  border: 1px solid #70707040;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.btn-to-top-text {
  color:#2276ac;
}
