.display-4 {
  font-size: 2rem!important;
}
h3 {
  font-size: 1.5rem!important;
  font-weight: normal!important;
}
h1 {
  font-weight: 300!important;
  font-size: 2.5rem!important;
}
.eui-fa-chevron-circle-up,
.eui-fa-chevron-circle-down {
  color: #2276ac;
}
.container-grid:not(.left-collapsed) {
  display: inline-grid;
  grid-template-columns: 250px auto;
  justify-content: space-between; /* justify items */
  width: 100%;
}
.container-grid .left-content {
  background: #2275AA;
  min-height:100%;
  color:white;
  width: 250px;
  top: 20;
}
.container-grid .left-content.collapsed {
  display: block;
  width: 0px;
  height: 0px;
}
.fa-info-circle, a:visited, a:link {
  color:#2276ac;
}
.fa-info-circle {
  padding-left:5px;
  cursor:pointer;
}
.hidden {
  display:none;
}
a:link.ext:after, a:visited.ext:after {
  display: inline-block!important;
  padding-left: 0.3em!important;
  font-family: "EUI-Icon-Library";
  content: "\f111"!important;
}
/* button styles taken from juanisa's adobe document as directed */
.btn-dark-blue{
  background: #195983 0% 0% no-repeat padding-box!important;
  box-shadow: 0px 3px 6px #00000029!important;
  border: 1px solid #70707040!important;
  border-radius: 8px;
  opacity: 1;
}
.btn-green {
  background: #158749 0% 0% no-repeat padding-box!important;
  box-shadow: 0px 3px 6px #00000029!important;
  border: 1px solid #70707040!important;
  border-radius: 8px;
  opacity: 1;
}
.btn-green img {
  margin-left:10px;
}
.btn-green:hover {
  background: #158749!important;
  filter: contrast(2.75)!important;
}
.btn-dark-blue:hover {
  background: #195983!important;
  filter: contrast(1.35)!important;
}
.btn-transparant:hover {
  background: #195983!important;
  filter: contrast(1.35)!important;
}
.badge-green {
  margin-left:10px;
}
.badge-white {
  background-color: #f8f9fa!important;
  color:#2276ac!important;
  margin-left:10px;
}
.btn-transparant {
  background: #2877AA 0% 0% no-repeat padding-box!important;
  border: 2px solid #FFFFFF!important;
  border-radius: 8px;
  opacity: 1;
}
.header.row.pt-5, .header.row.pt-4{
  margin-right: calc(4rem * 2)!important;
  margin-left: calc(4rem * 2)!important;
}
.pt-5 {
  padding-top: 1.25rem!important;
}

#getting-started-hero .row {
  --bs-gutter-x: 0!important;
}
.navbar {
  border-bottom:unset!important;
}
.navbar-nav {
  align-items: right;
}
.navbar-collapse{
  margin-left:2rem!important;
}
.hero-callout {
  background-image: url('@/assets/earth-blue-overlay-cropped-40.png');
  background-repeat: no-repeat;
  /*background-attachment: fixed;
  background-position: center;
  background-size: 1120px;*/
}
.table>:not(:last-child)>:last-child>* {
  border-bottom-color: unset!important;
}
.navbar div a {
  white-space: break-spaces;
}
@media (min-width: 250px) {
  .navbar {
    width: 100%;}
  .container-lg,
  .row {
    --bs-gutter-x: unset } 
  #earthdata-tophat2 {
    overflow: hidden } 
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: unset !important;
  }
}
@media (max-width: 1200px) {
  .header.row.pt-5{
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
/*  > 981 */
@media (max-width: 1200px) { 
  .card-grid {
    grid-template-columns: auto auto auto!important;
    /* background-color:purple; */
  }
  footer {
    padding: 1em 2em 2em!important;
  }
}
/*  682 - 980 */
@media (max-width: 980px) { 
  .card-grid {
    grid-template-columns: auto auto auto!important;
    /* background-color:red; */
  }
  .card-body {
    padding: 1rem 0.5rem;
  }
  .producer .card .icon_div,
  .how_to_use_edpub .card .icon_div {
    left: calc(50% - 25px); /* 50% - 3/4 of icon height */
  }
  .home-bottom-grid {
    grid-template-columns: 1fr auto;
  }
  footer {
    padding: 1em 2em 2em;
  }
}
/*  < 650px */
@media (max-width: 649px) {
  .navbar-expand-md .container-lg {
    display: inline-grid;
    justify-self: end;
    grid-template-columns: auto auto;
  }
}
@media (max-width: 681px) {
  .card-grid {
    grid-template-columns: auto!important;
    display: inline-grid!important;
    /* background-color:orange; */
  }
  .card {
    width:unset!important;
  }
  .producer .card .icon_div,
  .how_to_use_edpub .card .icon_div {
    left: calc(50% - 25px); /* 50% - 3/4 of icon height */
  }
  .producer .card-grid,
  .how_to_use_edpub .card-grid {
    display: block!important;
  }
  .home .card-grid .card {
    min-height: unset!important;
    /* margin-bottom: unset;*/
  }
  .home-bottom-grid {
    grid-template-columns: auto!important;
  }
  footer {
    padding: 1em 2em 2em;
  }
}
.home {
  margin-bottom:4rem!important;
}
.display-4.main-width hr{
  margin: 1rem -48px 0;
}
.card-grid {
  display: flex;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  text-align: center;
  justify-content: space-between; 
  margin-top:.75rem!important;
  margin-bottom:.5rem!important;
}
.card-grid .card.has-icon {
  min-height:8em;
  margin-bottom:2rem;
  margin-top:2rem;
}
.card .icon_div {
  background: #2877AA 0% 0% no-repeat padding-box;
  width: 3.75rem;
  height: 3.75rem;
  border-radius:50%;
  padding:.5rem;
  position:absolute;
  top:-2rem;
  left:7.15rem;
}
.card .icon {
  opacity: 1; 
  width: 100%;
  height: 100%;
}
html {
  clear: both;
  margin: 0 auto 3rem auto;
  max-width: 1450px;
  height: auto;
  background-color: #FCFCFC;
  box-shadow: 0px 0px 25px #555;
}
.fa-external-link-alt:before {
  content: "\f35d"!important;
}
.fa-external-link-alt{
  margin-right:10px!important;
}
.nav-item{
  text-decoration: none;
}
.nav-item.active{
  text-decoration: underline;
}
.version{
  background-color: #195983;
}
.sections b {
  font-weight: 500!important;
}
.btn-to-top {
  width: 80px;
  height: 80px;
  border-radius: 50%; 
  scroll-behavior: unset;
  border: 1px solid #70707040;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.btn-to-top-text {
  color:#2276ac;
}
ul li ul li {
  margin-left:2.75rem!important;
}
ul li ul li:before {
  padding-right: 0.5em!important;
}
.table {
  margin-top:1.25rem!important;
}
table .publication {
  text-align: center!important
}
.role,
.post,
th {
  text-align:center!important;
  vertical-align: initial!important;
}
h1, h2, h3 {
  margin-bottom:0!important;
}
h1:first-child {
  margin-top:1rem;
}
#getting-started-hero .heading {
  text-align: center!important;
  position:relative!important;
  top:-15px!important;
}
#getting-started-hero p {
  text-align: start!important;
  padding-left:15px!important;
  padding-right:15px!important;
}
#getting-started-hero .card {
  /* background-color:#ebebeb;*/
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-color: #fff; */
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  opacity: .8;
  background: #fff 0 0 no-repeat padding-box!important;
  box-shadow: 0 3px 6px #00000029;
  border: 1px solid #70707040;
  border-radius: 8px;
}
#getting-started-hero .right-card {
  background: #EFEFEF 0 0 no-repeat padding-box!important;
  color: black!important;
}
table.table.table-striped {
  border: 1px solid #ebebeb;
}
th, thead, tr {
  border-style: unset!important;
}
th {
  border-bottom: unset!important;
}
#getting-started-hero {
  margin-bottom: 1rem!important;
}
th {
  border-right: 1px solid #ebebeb!important;
}
th.post {
  border-top: 1px solid #ebebeb!important;
}
.subheader:first-child {
  border-right: 1px solid #ebebeb!important;
}
.role {
  border-right: 1px solid #ebebeb!important;
}
th.publication {
  border-right: 1px solid #ebebeb!important;
}
.subheader {
  border-top: 1px solid #ebebeb!important;
  border-right: 1px solid #ebebeb!important;
}
table.table.table-striped td {
  border-right: 1px solid #ebebeb!important;
}